[submodule "jspdg"]
	path = jspdg
	url = git@github.com:Bjarno/jspdg.git
	branch = master
[submodule "server_env/node_modules/asynccalljs"]
	path = server_env/node_modules/asynccalljs
	url = git@github.com:dielc/asyncCall.js.git
